version: '3'

services:
  node:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    tty: true
    volumes:
      - ./frontend:/usr/src/app/frontend
    command: sh -c "cd frontend  && yarn start"
    ports:
      - 3001:3000
  api:
    build:
      context: .
      dockerfile: ./docker/go/Dockerfile
    tty: true
    volumes:
      - ./api:/go/src/app
    ports:
      - 8080:8080
    depends_on:
      - mysql
  nginx:
    image: nginx
    ports:
      - 80:80
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - node
      - api
  mysql:
    build:
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: root
      TZ: 'Asia/Tokyo'
    volumes:
      - ./docker/mysql/initdb.d:/docker-entrypoint-initdb.d
      - ./docker/mysql/conf.d:/etc/mysql/conf.d
      - mysql-data:/var/lib/mysql
    ports:
      - 3306:3306
volumes:
  mysql-data:
    driver: local
